.chart-wrapper {
  background-color: var(--color-2);
  border-radius: 12px;
  padding: 2em;
  margin: 0 auto;
  max-width: 1000px;
}

.chart-wrapper h2 {
  text-align: center;

  color: var(--color-1);
}

@media (max-width: 768px) {
  .chart-wrapper {
    padding: 1em;
  }
}
