.location-form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-3);
  align-items: center;
  padding: 3em;
}

.call-to-action {
  font-size: 40px;
  font-weight: 1000;
  color: var(--color-1);
  text-align: center;
}

.location-form input,
button {
  width: 30ch;
  line-height: 2em;
  margin: 0.5em;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  background-color: var(--color-2);
}

.location-form button {
  width: 15ch;
  background-color: var(--color-bg);
  color: var(--color-surface);
}

.location-form button:hover {
  transform: scale(1.05);
  background-color: var(--color-bg-dark);
  transition: transform 0.2s;
  cursor: pointer;
}
